/*
Overall structure
*/
body {
	margin: 0;
	padding: 0;
	border: 0;
}

#dashboard {
	min-width: 80em;
}

#map, #stats {
	display: inline;
	float: left;
	min-height: 45em;
	padding: 0;
	border: 0;
	margin: 1em;
}

#map {
	width: 45em;
}

#map embed {
	width: 100%;
	border: 1px solid black;
}

#stats {
	min-width: 30em;
	font-size: 0.75em;
}

h1 {
	margin: 1em 0 0 0;
	border: 0;
	padding: 0;
}

ol {
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
}

ul {
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
}

li {
	margin: 0;
	padding: 0;
	border: 0;
}

h2 {
	text-decoration: underline;
	margin-bottom: 0.3em;
}



/*
Player DIV
*/
#houseCaput {
	border-bottom: 1px solid black;
}

#houseName {
	margin: 0;
}

#orders, #units {
	display: inline-block;
	float: left;
	margin-right: 1.5em;
}

table#playerCards thead tr {
	background-color: #bbb;
}

table#playerCards thead tr td.cardname {
	min-width: 5em;
}

table#playerCards {
	border: 1px solid black;
	max-width: 39em;
	border-collapse: collapse;
	border-spacing: 0;
}

table#playerCards tr td {
	border: 1px solid black;
	padding: 0 0.3em;
}




/*
Track DIVs
*/
#influenceCaput {
	border-bottom: 1px solid black;
}

#influencetracks h1 {
	margin-top: 1em;
}

#ironthrone, #fiefdom, #kingscourt {
	display: inline-block;
	float: left;
	margin-right: 1em;
}



/*
Other DIVs
*/
#victorytrack, #supplytrack {
	width: 15em;
	float: left;
	margin-right: 1em;
}

#victorytrack h1, #supplytrack h1 {
	text-decoration: underline;
}

.label {
	font-weight: bold;
}

.needsRoom {
	margin-right: 0.5em;
}



.playerRank {
	display: block;
	clear: both;
}

.playerRank ol {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	list-style-type: decimal;
	width: 100%;
	min-height: 1em;
}

.playerRank ol li {
	float: left;
	margin-left: 2em;
}
