body {
	margin: 0;
	padding: 0;
	border: 0;
}

table {
	border: 1px solid black;
	width: 30em;
}

table tr td {
	border: 1px solid black;
}

table thead tr td.cardname {
	width: 7em;
}

#dashboard {
	min-width: 80em;
}

#map, #stats {
	display: inline;
	float: left;
	min-height: 45em;
	margin: 0;
	padding: 0;
	border: 0;
	margin: 1em;
}

#map {
	width: 45em;
}

#map embed {
	width: 45em;
}

#stats {
	min-width: 30em;
}

#map img {
	width: 100%;
	border: 1px solid black;
}

.playerRank {
	display: block;
	clear: both;
}

.playerRank ol {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	list-style-type: decimal;
	width: 100%;
	min-height: 1em;
}

.playerRank ol li {
	float: left;
	margin-left: 2em;
}
